@model GetMessageByIdDto
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h4>Mesaj Detayları</h4>
@await Html.PartialAsync("/Views/AdminContact/_SidebarMail.cshtml")
<div class="email-right-box">
    <div class="toolbar" role="toolbar">
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light">
                <i class="fa fa-archive"></i>
            </button>
            <button type="button" class="btn btn-light">
                <i class="fa fa-exclamation-circle"></i>
            </button>
            <button type="button" class="btn btn-light">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-folder"></i>  <b class="caret m-l-5"></b>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript: void(0);">Social</a>  <a class="dropdown-item" href="javascript: void(0);">Promotions</a>  <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
            </div>
        </div>
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-tag"></i>  <b class="caret m-l-5"></b>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript: void(0);">Updates</a>  <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
            </div>
        </div>
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                More <span class="caret m-l-5"></span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a>  <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>  <a class="dropdown-item"
                                                                                                                                                                   href="javascript: void(0);">Add Star</a>  <a class="dropdown-item" href="javascript: void(0);">Mute</a>
            </div>
        </div>
    </div>
    <div class="read-content">
        <div class="media pt-5">
            <img class="mr-3 rounded-circle" width="50" height="50" src="/resimyok.jpg">
            <div class="media-body">
                <h5 class="m-b-3">@Model.FullName < @Model.Mail ></></h5>
                <p class="m-b-2">@Convert.ToDateTime(Model.Date).ToShortDateString()</p>
            </div>

        </div>
        <hr>
        <div class="media mb-4 mt-1">
            <div class="media-body">
                <span class="float-right">@Convert.ToDateTime(Model.Date).ToString("HH:mm")</span>
                <h4 class="m-0 text-primary">@Model.Subject</h4><small class="text-muted">Gönderici:@Model.Mail</small>
            </div>
        </div>
        <p>
                @Model.Message
        </p>
        <hr>
        <form method="post" asp-action="AddSendMessage" asp-controller="AdminContact">
            <div class="form-group p-t-15">
                <input type="text" hidden asp-for="Mail" name="ReceiverMail" />
                <input type="text" hidden asp-for="FullName" name="ReceiverName" />
                <label>Başlık</label>
                <input type="text" name="Title" class="form-control" placeholder="başlık giriniz..." />
                <label>Cevap</label>
                <textarea class="w-100 p-20 l-border-1" name="Content" id="" cols="30" rows="5" placeholder="Cevap Yazın..."></textarea>
                <button class="btn btn-primaryw-md m-b-30">Gönder</button>
            </div>
        </form>
    </div>
   
</div>